@import '@fontsource-variable/inter';
@import url('preflight.css');

:root {
    --font-inter: 'Inter Variable', sans-serif;
    --color-background: #18181b;
    --color-foreground: #fafafa;
}

html {
    color-scheme: dark;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    color: var(--color-foreground);
}
